
/*Reseteo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #273134;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*estilo del logo*/
header .logo img {
    max-width: 150px;
    height: auto;
}

/*contenedor principal de las imágenes*/
#imgContainer {
    display: flex;
    height: 100vh;
}

/*contenedores de imagen */
#imgContainer div {
    flex: 1;
    position: relative;
    overflow: hidden;
}

/*enlaces de las imágenes */
#imgContainer a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

/*estilo para las imágenes*/
#imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/*efecto hover para agrandar y atenuar la imagen*/
.hover-effect:hover img {
    transform: scale(1.1);
    opacity: 0.3;
}

/*texto que aparece al hacer hover*/
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0072BB;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    font-weight: bold;
    z-index: 2;
}

/*Efecto hover para mostrar el texto*/
.hover-effect:hover .overlay-text {
    opacity: 1;
}
