/* Reseteo de márgenes y padding, y configuración de box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado (header) */
header {
    width: 100%;
    padding: 20px;
    background-color: #273134;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo del logo dentro del encabezado */
header .logo img {
    max-width: 150px;
    height: auto;
}

/* Contenedor principal de las imágenes */
#imgContainer {
    display: flex; /* Coloca los divs de imágenes en una fila */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
}

/* Estilo para los contenedores de cada imagen */
#imgContainer div {
    flex: 1; /* Asegura que ambos divs ocupen el mismo espacio */
    position: relative;
    overflow: hidden;
}

/* Estilo para los enlaces que contienen las imágenes */
#imgContainer a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Estilo para las imágenes */
#imgContainer img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupa el 100% de la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsión */
    object-position: center; /* Centra la imagen en el contenedor */
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; /* Transiciones suaves para el hover */
}

/* Efecto hover para escalar y atenuar la imagen */
.hover-effect:hover img {
    transform: scale(1.1); /* Agranda la imagen ligeramente */
    opacity: 0.3; /* Reduce la opacidad de la imagen */
}

/* Estilo para el texto que aparece al hacer hover */
.overlay-text {
    position: absolute;
    top: 50%; /* Coloca el texto en el 50% de la altura */
    left: 50%; /* Coloca el texto en el 50% del ancho */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar el texto exactamente */
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0; /* Inicialmente el texto es invisible */
    transition: opacity 0.6s ease-in-out; /* Transición suave para hacer aparecer el texto */
    font-weight: bold;
    z-index: 2; /* Asegura que el texto esté sobre la imagen */
}

/* Efecto hover para mostrar el texto */
.hover-effect:hover .overlay-text {
    opacity: 1; /* El texto se hace visible cuando se hace hover sobre la imagen */
}
