/*Reseteo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sidebar {
    background-color: #273134;
    color: white;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #5BC0BE;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 0;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #0072BB;
    border-radius: 5px;
    padding-left: 10px;
}

/* Botón del carrito */
.cart-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0072BB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.cart-button img {
    max-width: 24px;
    margin-right: 10px;
}

.cart-button #cart-count {
    background-color: #ff6f61;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    margin-left: auto;
}

.cart-button:hover {
    background-color: #005a8c;
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/*contenedor principal*/
.container {
    background-color: #ffffff;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 100vh;
}

/* Título lista de productos */
.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0F4C5C;
}

/* Estilo para la lista de productos */
.product-listing {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background-color: white;
    justify-items: center;
}

.product {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product h3 {
    font-size: 18px;
    color: #273134;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: #0F4C5C;
    margin-bottom: 10px;
    font-weight: bold;
}

.product button {
    padding: 10px 20px;
    background-color: #0072BB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    width: 100%;
}

.product button:hover {
    background-color: #5BC0BE;
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Responsividad */
@media (max-width: 768px) {
    .product-listing {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .product-listing {
        grid-template-columns: 1fr;
    }
}
